*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, "Inter";
}

body{
    background-color: rgba(239, 239, 239, 1);
}

.container_section{
    display: flex;
    justify-content: center;

}

.section_masc, .section_fem, .section_inf, .section_calc{
    transition: 0.5s;
    margin-right: 25px;
    background-color: rgba(65, 65, 65, 1);
    font-family: sans-serif,"inter";
    padding: 5px 70px;
    color: white;
    max-height: 18px;
    border-radius: 0px 0px 5px 5px;
}

.section_masc:hover, .section_fem:hover, .section_inf:hover, .section_calc:hover{
    transition: 0.5s;
    padding-bottom: 12px;
    cursor: pointer;
}

.container_nav{
    display: flex;
    align-items: center;
    margin: 10px;
}

.nav_div{
    display: flex;
    align-items: center;
}

.nav{
    border: none;
    width: 700px;
    height: 35px;
    border-radius: 7px;
    padding-left: 60px;
}

.search{
    position: relative;
    height: 24px;
    right: 745px;
}

.logo{
    margin-left: 50px;
    height: 108px;
}

.linel{
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(65, 65, 65, 1);
    width: 150px;
    height: 2px;
}

.liner{
    margin-left: 50px;
    margin-right: 40px;
    background-color: rgba(65, 65, 65, 1);
    width: 865px;
    height: 2px;
}

.liked{
    transition: 0.5s;
    margin-left: 5px;
    height: 34px;
    cursor: pointer;
}

.car{
    transition: 0.5s;
    height: 37px;
    margin-left: 20px;
    margin-right: 50px;
    cursor: pointer;
}

.liked:hover{
    transition: 0.5s;
    height: 37px;
}


.car:hover{
    transition: 0.5s;
    height: 40px;
}

.location{
    display: flex;
    align-items: center;
    font-family: sans-serif,"Inter";
    font-style: italic;
    margin-left: 340px;
    margin-bottom: 40px;
}

.lineloc{
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(65, 65, 65, 1);
    width: 10px;
    height: 2px;
}

.locprod{
    font-weight: 700;
}

.infoprod{
    display: flex;
    flex-direction: row;
    margin-left: 340px;
}

.desc_prod{
    display: flex;
    flex-direction: column;
    max-width: 115px;
}

.img1, .img2, .img3{
    height: 133px;
    margin-bottom: 10px;
    cursor: pointer;
}

.img_prod{
    margin-left: 10px;
}

.idprod{
    font-size: 12px;
}

.imgprod{
    width: 501px;
    height: 581px;
}

.info{
    margin-left: 55px;
    max-width: 443px;
    font-family: sans-serif,"Inter";
}

.nameprod_div{
    max-width: 350px;
    font-style: italic;
}

.nameinfo{
    display: flex;
    align-items: center;
}

.nameprod{
    font-size: 20px;
}

.liked_div{
    margin-left: 20px;
}

.stars_div{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.stars_div > a{
    margin-left: 10px;
    font-family: sans-serif,"Inter";
    color: black;
}

.stars{
    height: 25px;
    width: 101px;
}

.pix{
    color: green;
    margin-top: 20px;
}

.pricepix{
    font-size: 32px;
    font-style: italic;
    font-weight: 900;
}

.priceboleto{
    color: rgb(148, 148, 148);
}

.size_div{
    margin-top: 20px;
}

.size_div > form{
    margin-top: 15px;
}

.bt_sizes{
    width: 58px;
    height: 32px;
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;
}

#p{
    background-color: transparent;
}

.shopping{
    transition: 0.5s;
    background-image: url('img_products/bt-shop.png');
    border: none;
    width: 440px;
    height: 85px;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    background-color: rgba(65, 65, 65, 1);
    color: white;
    border-radius: 10px;
    margin-top: 150px;
    cursor: pointer;
}

.shopping:hover{
    transition: 1s;
    font-size: 17px;
}

